/* Fonts */
@font-face {
  font-family: titleFont;
  src: url(PatinioBasica.ttf);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topnav #b {

  position: absolute;
  right: 1px;
  bottom: 10px;
  padding-bottom: 20px;
  size: 200px;
  width: 160px;
  height: 65px;
  left: -30px;
  background-image: url(lightLogo.PNG);
  background-size: 210px 120px;
}

/* Style the links inside the navigation bar */
.topnav #a {

  background: none;
  border: none;
  float: right;
  color: white;
  text-align: center; 
  padding-right: 10px;
  border-spacing: 5px;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
  border-radius: 10px;
  
}

.topnav #a:hover {
  color : #C0C0C0;
}

.HomeButton {
  background: none;
  border:none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 26px;
  font-family: arial;
  font-weight: bold;
}

.HomeButton:link{
  background: none;
  border:none;
}
.HomeButton:focus {
  outline:0;
}


/* Change the color of links on hover */
.topnav a:hover {
  padding-bottom: 19px;
  border-radius: 10px;
  background-color: #ddd;
  color: black;
}

/* Textbox for logging in/registering */
.logintextbox > input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Textbox for logging in/registering */
#logintextbox2 {
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Form holding login/register */
#loginform {
  position: fixed;
  top: 50%;
  left: 35%;
}

#loginregistertext {
  font-family: arial;
  font-size: 20px;
  
}

#logo {
  position: absolute;
  left: 525px;
  width: 800px;
  height: 600px;
}

#button {
  border: none;
  color: white;
  background-color: #333;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

